<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="assets/css/custom.css" rel="stylesheet" media="screen" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="assets/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://use.typekit.net/upm0vmm.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">BREWXIT.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Start</a></li>
                <li><a href="#">KONTAKT</a></li>

                <li><a href="#">OM</a></li>


            </ul>

        </div>
    </div>

</div>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">BREWXIT.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Start</a></li>
                <li><a href="#">KONTAKT</a></li>

                <li><a href="#">OM</a></li>


            </ul>

        </div>
    </div>

</div>
<!--/.nav-collapse -->


<!--/.content-middle -->
<div class="headwrap">


    <div class="container">
        <div class="row">

            <form class="form-horizontal" role="form">
                <div class="form-group">

                    <div class="col-sm-4">
                        <input type="text" class="form-control input-lg" id="from" placeholder="Vart åker du ifrån?" />
                    </div>
                    <div class="form-group">

                        <div id="custom-search-input">
                            <div class="input-group col-sm-4">
                                <input type="text" class="form-control input-lg" id="to" placeholder="Vart ska du åka?" />
                                <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                                    </button>
                    </span>
                            </div>
                        </div>
                    </div>
</div>

            </form>
        </div>
    </div>
</div>

</body>
</html>
